/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  /*font: 13.34px Helvetica, Arial, sans-serif;*/
  /*font: 13.34px Georgia, serif;*/
  font: 13.34px 'Lato', sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 120%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

hr { border-top: 1px solid rgb(220,222,224); }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  font-size: 14pt;
}

.posts li {
  line-height: 1.75em;
  margin: auto auto 40px;
  width: 100%;
  padding: 0 10px;
}

.posts li.nick {
  border-right: 3px solid #26efe4;
}

.posts li.royce {
  border-right: 3px solid #2b96ed;
}

.posts li.sam {
  border-right: 3px solid #26ee7f;
}

.posts li a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size:20px;
}

.posts span {
  font-size: 18px;
  font-weight:300;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header {
  width: 350px;
  margin: 20px auto 40px auto;
  font-size: 16pt;
  text-align: center;
  border-bottom: 1.5px solid rgb(220,222,224);
  padding-bottom: 20px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.header img {
  width: 100px;
  margin: 10px auto;
  display: block;
}

.contributors {
  position: fixed;
  left: 0;
  top: 40%;
  margin-left: 150px;
  padding-right: 20px;
  border-right: 1.5px solid rgb(220,222,224);
  padding-top:20px;
}

.contributor {
  font-size: 15px;
  font-weight: 400;
  height: 35px;
  line-height:15px;
  margin-bottom:15px;
  vertical-align:middle;
}

.contributor img {
  margin-top:-5px;
  height: 100%;
  margin-right: 5px;
  vertical-align:middle;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

  

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post-title {
  height: 90px;
  position: relative;
}

.post-title img {
  width: 50px;
  position: absolute;
  top: 25px;
  left: 0;
}

.post-title .text {
  position: absolute;
  top: 20px;
  left: 60px;
  font-weight: 900;
  font-size:20px;
}

.post-title .text h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight:300;
}




.post {
  font-family: 'Merriweather', Georgia;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: .01rem;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Media Queries
/*
/*****************************************************************************/

@media (max-width: 756px) {
  .site {
    width: 100%;
  }

  .header img {
    width: 40%;
  }

  .contributors {
    display: none;
  }

  .post-title, .post {
    width: 85%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.3em;
  }

  .post-title {
    height: auto;
    text-align: center;
  }

  .post-title img {
    width: 40%;
    position: static;
  }

  .post-title .text {
    position: static;
  }
}