---
layout: default
title: The New Rad.io
---

<div class="header">
  <img src='img/mainradio.png' />
  <em style='font-weight: 100;'>The New Rad</em>io
</div>

<!-- <div class="contributors">
  <div class="contributor"> <img src='img/sam.png' /> Sam </div>
    <div class="contributor"> <img src='img/nick.png' /> Nick </div>
    <div class="contributor"> <img src='img/royce.png' /> Royce </div>
</div> -->

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
    <li class='{{ post.author | split: " " | first | downcase }}'>
      {% if post.inprogress==false %}
      <a href="{{ post.url }}">{{ post.title }}</a><br />
      {% else %}
      <a>{{ post.title}}</a><br />
      {% endif %}
      <span>{{ post.subtitle }}</span>
    </li>
    {% endfor %}
  </ul>
</div>